*{
	margin:0px;
    padding:0px;
}
.fix{
	overflow:hidden
}
body{
	max-width:100%;
	overflow-x:hidden;
}

.logout p {
    font-size: 24px;
    margin-left: 1425px;
    margin-top: 336px;
    position: absolute;
}
.logout a {
    text-decoration:none;
	color:black;
}
.logout a:hover {
    color:red;
}
.logout a:visited {
    color:blue;
}

.header_area{
	background:white;
}
.header_area_inn,.footer_social_inn,.footer_copyright_inn,.main_content_area_inn{
	width:1171px;
	margin:0 auto;
}
.header_area_inn h1{
	font-size:130px;
	margin-top:114px
}
.header_area_inn p{
	font-size:14px;
}
.with_out_border {
	margin-top:49px;
	margin-bottom:76px;
}
.with_border_left a, .without_border_right a{
	text-decoration:none;
	color:black;
}
.with_border_left a:hover,.without_border_right a:hover{
	color:#d4add1;
}
.with_border_left li {
	list-style:none;
	display:inline;
	margin-right:22px;
	font-size:24px;
	border-right:2px solid #818080;
    padding-right:30px;
}
.with_border_left{
	float:left;
	width:40%;
}
.without_border_right{
	float:right;
	width:60%;
}
.without_border_right p {
	font-size:24px;
	
}

.banner_map h3{
	font-size:60px;
	color:#bd81ba;
	padding-bottom:32px;
}
.contact_area h4{
	font-size:36px;
	color:#bd81ba;
	padding-bottom:32px;
}
.contact_area p{
	font-size:18px;
	color:#b5b4b4;
}
.text_area textarea {
    border: 2px solid #9E9E9E;
    color: #B5B4B4;
    font-size: 18px;
    height: 130px;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 20px;
    resize: none;
    width: 96%;
}
input[type=name],input[type=email],input[type=phone]{
	font-size:18px;
	color:#b5b4b4;
	padding-left:20px;
	padding-top:10px;
	padding-bottom:10px;
	width:147px;
}

.clear_and_send a{
	font-size:24px;
	color:#f7edf7;
	text-decoration:none;
}
.clear_and_send ul{
	text-align:right;
	padding-top:30px;
}
.clear_and_send ul li{
	margin-left:20px;
	background:#bd81ba;
	padding:10px 30px;
}
.contact_area{
	padding-top:71px;
	padding-bottom:138px;
	border-bottom:1px solid #818080;
}
.contact_area_text_left{
	float:left;
	width:36%;
}
.contact_area_form_right{
	float:right;
	width:44%;
}
.contact_area_form_right ul li{
	list-style:none;
	display:inline;
	padding-left:20px;
}
.contact_area_form_right ul{
	padding-bottom:15px;
}
.circle_arrow{
	position:absolute;
	margin-left:1667px;
	margin-top:-44px;
}



.footer_icon_left{
	float:left;
	width:70%;
}
.home_icon_and_address{
	float:left;
	width:50%;
}
.gmail_icon_and_address{
	float:right;
	width:50%;
}
.icon_left{
	float:left;
	width:6%;
}
.icon_address_right{
	float:right;
	width:86%;
}
.footer_text_right{
	float:right;
	width:30%;
}
.footer_text_with_border_left{
	float:left;
	width:85%;
}
.footer_text_with_border_left ul{
	text-align:right;
}
.footer_text_with_border_left li{
	list-style:none;
	display:inline;
	border-right:2px solid #818080;
	padding-right:28px;
	margin-right:28px;
}
.footer_text_with_border_left a,.footer_text_without_border_right a{
	text-decoration:none;
	color:#363535;
}
.footer_text_without_border_right{
	float:right;
	width:15%;
}
.footer_social_inn{
	padding:38px 0px;
	width:1171px;
	margin:0 auto;
}
.icon_address_right p,.footer_text_with_border_left,.footer_text_without_border_right p{
	font-size:14px;
	color:#b5b4b4;
}
.footer_copyright{
	background:#af9aae;
}
.footer_copyright_inn{
	width:1171px;
	margin:0 auto;
	font-size:14px;
	padding:38px 0px;
}